{% extends "base.html" %}
{% load extraFilter %}
{% load static %}
{% block body %}

<div class="author-page-container">
    <div class="">
        <div class="h-24 w-full bg-gray-800"></div>
        <div class="py-3 px-4 flex flex-col space-y-6">
            <div class="flex space-x-3 items-center  ">
                <div class="h-20 rounded-full w-20 outline outline-4 outline-gray-100 overflow-hidden">
                    <img src='/media/{{Author.profileImg}}' alt="..." class=" ">
                </div>
                <div class="flex flex-col space-y-1">
                    <span class="Author-name font-semibold text-black text-2xl">{{Author.user.first_name}}
                        {{Author.user.last_name}}</span>
                    <span class="font-normal">
                        <span id="follow_count" class="follower-count">
                            {{Author.followers}}
                        </span>
                        Followers</span> <!-- Here user is author who's profile is viewing -->
                </div>
            </div>
            <div class="px-2">
                {% if request.user == Author.user %}
                {% else %}
                {% if userFollower %}
                <button onclick="ChangeFollowers(this)"
                    class=" follow-btn text-black w-2/3 outline outline-2 outline-blue-950 rounded-3xl p-2">Following</button>
                {% else %}
                <button onclick="ChangeFollowers(this)"
                    class=" follow-btn text-white w-2/3 bg-blue-950 rounded-3xl p-2">Follow</button>
                {% endif %}
                {% endif %}
            </div>
            <div class="">
                <div class="flex space-x-4 items-center">
                    <ul class="flex space-x-4 ">
                        <li id="author_home" class="author-link cursor-pointer underline underline-offset-[14px]"
                            onclick="changeLinkAppearence(this)">Home </li>
                        <li id="author_about" class="author-link cursor-pointer underline-offset-[14px]"
                            onclick="changeLinkAppearence(this)">About </li>
                    </ul>
                </div>
                <hr class="bg-black mt-2">
            </div>
        </div>
        <!-- Content part of page -->
        <div class="">
            <div class="Home-page p-2">
                {% if Posts %}
                {% for post in Posts %}
                <div class="Card-blog-post flex mt-4 flex-col space-y-1 px-1">
                    <div class="upper-part text-sm">Posted on {{post.publish_time}} </div>
                    <a href="{% url 'App:Blog Post' post.id %}">
                        <div class=" flex justify-between items-center">
                            <div
                                class="flex flex-col text-wrap   {% if post.thImg != '' %} w-[80%] {% else %}w-auto {% endif %} ">
                                <h1 id="title{{post.id}}" class="title font-semibold text-xl lg:text-2xl">{{post.title}}</h1>
                                <p class="blog-content">
                                <div class="preview hidden text-lg lg:block">{{post.content|safe|truncatechars_html:150}}</div>
                                </p>
                            </div>
                            {% if post.thImg != '' %}
                            <div class="w-14 h-14 lg:w-28 lg:h-24 overflow-hidden rounded-md">
                                <img src="/media/{{post.thImg}}" alt="">
                            </div>
                            {% endif %}
                        </div>
                    </a>
                    <div class="footer-part flex items-center justify-between py-2">
                        <span class="flex space-x-4 items-center ">
                            <span class="like_span">
                                <span id="postlike_count{{post.id}}" class="like-count">{{post.like}}</span>
                                <a role="button" class="" onclick="LikePost({{post.id}})" id="LikePostLink{{post.id}}">
                                    {% if post.id in request.session.LikedPosts %}
                                    <i id="LikePost{{post.id}}" class="fa-solid fa-thumbs-up text-md lg:text-lg"></i>
                                    {% else %}
                                    <i id="LikePost{{post.id}}" class="fa-regular fa-thumbs-up text-md lg:text-lg"></i>
                                    {% endif %}
                                </a>
                            </span>
                            <span class="comment_span">
                                <span class="comment">{{ post|get_comments|length }}</span>
                                <a href="{% url 'App:Blog Post' post.id %}" class=""><i class="fa-regular fa-comment "></i></a>
                            </span>
                        </span>
                        <span
                            class="p-2 hidden fixed top-16 left-1/2  transform duration-300 -translate-y-full -translate-x-1/2 w-32 text-center text-white font-semibold rounded shadow-green-100 bg-black"
                            id="SavePost_popover">
                            Post saved
                        </span>
                        <span class="flex space-x-6 items-center mx-3">
                            <a role="button" class="bookmark" onclick="SavePost(this)" id="Save_post{{post.id}}"><i
                                    class="fa-regular fa-bookmark fa-lg"></i></a>
                                    <a role="button" class="three-dots cursor-pointer" id="options{{post.id}}" onclick="OptionPopover(this)"><i
                                        class="fa-solid fa-ellipsis fa-lg"></i></a>
                            <span id="Option_box{{post.id}}"
                                class="absolute bg-white  hidden p-2 border-gray-500 border rounded ">
                                    <li class="" id="follow_op">
                                        Follow
                                    </li>
                                </ul>
                            </span>
                        </span>
                    </div>
                </div>
                <hr class="bg-black w-full mt-2">
                {% endfor %}
                {% else %}
                <div class="p-3 text-lg">
                    <h1 class="">There is no post return by this author</h1>
                </div>
                {% endif %}
            </div>
            <div class="px-4 py-2 about-page hidden text-lg">
                {% if Author.Bio|length > 0 %}
                <p class="">{{Author.Bio}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
<script>
    //underline element clicked
    function changeLinkAppearence(element) {
        element.classList.add('underline');
        links = document.getElementsByClassName('author-link');
        for (let i = 0; i < links.length; i++) {
            const link = links[i];
            if (link != element) {
                if (link.classList.contains('underline')) {
                    link.classList.remove('underline');
                }
            }

        }
        if (element.id == "author_about") {
            // console.log('About page should be shown');
            home_page = document.getElementsByClassName('Home-page')[0];
            home_page.classList.add('hidden');
            about_page = document.getElementsByClassName('about-page')[0];
            about_page.classList.remove('hidden');
        }
        else if (element.id == "author_home") {
            home_page = document.getElementsByClassName('Home-page')[0];
            home_page.classList.remove('hidden');
            about_page = document.getElementsByClassName('about-page')[0];
            about_page.classList.add('hidden');
            // console.log(element.innerText);

        }
    }

    function SenAjaxchangeFollower(element, action) {
        followCount = document.getElementById('follow_count');
        $.ajax({
            type: "Post",
            url: "{% url 'App:Author Profile' Author.user_id %}",
            data: { 'action': action },
            dataType: "json",
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            },
            //here  data is response return by server 
            success: function (data) {
                element.innerText = data.btnText;
                if (data.followerCount != undefined) {
                    followCount.innerText = data.followerCount;
                }
                if (element.innerText == "Following") {
                    element.classList.remove('text-white', 'bg-blue-950');
                    element.classList.add('text-black', 'outline', 'outline-2', 'outline-blue-950');
                }
                else if (element.innerText == 'Follow') {
                    element.classList.remove('outline');
                    element.classList.add('text-white', 'bg-blue-950');
                }

            },
            //here error is error return by the url 
            error: function (error) {
                console.log("Error:", error);
            }
        });
    }
    function ChangeFollowers(followBtn) {
        {% if user.is_authenticated %}

        if (followBtn.innerText == "Follow") {
            SenAjaxchangeFollower(followBtn, "IncreaseFollower");
        }
        else if (followBtn.innerText == "Following") {
            SenAjaxchangeFollower(followBtn, "DecreaseFollower");
        }
        {% else %}
        showLogin();
        {% endif %}
    }

    // document.getElementsByClassName('three-dots')[0].addEventListener('click',function(){
    //     document.getElementsByClassName('Option_box').classList.toggle('hidden');
    // })

    {% comment %} function SavePost(element) {
        {% if user.is_authenticated %}
        let post_id = element.id.slice(9);
        $.ajax({
            type: "Post",
            url: "{% url 'App:Author Profile' user.id %}",
            data: { 'Post_id': post_id },
            dataType: "json",
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            },
            //here  data is response return by server 
            success: function (data) {
                console.log();
                if (data.Result == 'Post_saved') {
                    document.getElementById(element.id).innerHTML = '<i class="fa-solid fa-bookmark fa-lg"></i>';
                }
                else if (data.Result == 'Post_unsaved') {
                    document.getElementById(element.id).innerHTML = '<i class="fa-regular fa-bookmark fa-lg"></i>';

                }
            },
            //here error is error return by the url 
            error: function (error) {
                console.log("Error:", error);
            }
        });
        {% else %}
        showLogin();
        {% endif %}
    } {% endcomment %}
</script>
{% endblock js %}