{% extends "base.html" %}
{% load static %}
{% block title %}Blogs{% endblock title %}

{% block js%}
<script>

    let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    })
    //on click card body change color of heading

</script>
{% endblock js %}

{% block body %}
<div class="container pt-2 lg:w-full">
    <div class="category  flex overflow-x-scroll px-2">
        <a href="/post-blogs/trend" id="trend"
            class="p-2 text-lg font-semibold hover:text-blue-600 hover:underline">Trending</a>
        <a href="/post-blogs/new" id="new"
            class="p-2 text-lg font-semibold hover:text-blue-600 hover:underline">Newest</a>
        <a href="/post-blogs/old" id="old"
            class="p-2 text-lg font-semibold hover:text-blue-600 hover:underline">Oldest</a>
        <a href="/post-blogs/mostreaded" id="mostreaded"
            class="p-2 text-lg font-semibold hover:text-blue-600 hover:underline">Most Readed </a>

    </div>
    <div class="blogs mt-4 clear-left w-full">
        <div id="testid" class="p-2 flex flex-col space-y-2">
            {% for post in allPosts %}
            <div class="card  flex flex-col  space-y-1  border-gray-800 rounded-md shadow-xl py-3 bg-gray-50">
                <div class="upper-part flex-col space-y-1 px-2 ">
                    <div class="flex space-x-2 items-center">
                        <a href="#" class="prifile w-fit h-auto">
                            <img src="{% static 'img/profile.jpg' %}" class="h-8 rounded-3xl w-auto" alt="">
                        </a>
                        <a href="{% url 'Author Profile' post.author %}" class="author-name font-sans">
                            <p class="">
                                {{post.author}}
                            </p>
                            <p class="text-xs">Posted on {{post.publish_time}}</p>
                        </a>
                    </div>
                    <div class="">
                    </div>
                </div>
                <div class="px-2">
                    <a href="{{post.id}}/" id="card_link" class="flex flex-col ">
                        <h1 id="title{{post.id}}" class="title font-semibold text-xl">{{post.title}}</h1>
                        <p class="blog-content">
                            <div class="preview">{{post.content|safe|truncatechars_html:100}}</div>
                        </p>
                    </a>
                </div>
            </div>
            <hr class="my-1 bg-gray-800">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}