{% extends "base.html" %}
{% load static %}
{% block title %}Blogs{% endblock title %}

{% block js%}
<script>


</script>
{% endblock js %}

{% block body %}
<div class="container pt-2 lg:w-full">

    {% if allPosts|length > 0 %}
    <div class="category  flex overflow-x-auto w-full">
        <a href="/post-blogs/trend" id="trend"
            class="p-2 text-lg font-semibold hover:text-blue-600 hover:underline">Trending</a>
        <a href="/post-blogs/new" id="new"
            class="p-2 text-lg font-semibold hover:text-blue-600 hover:underline">Newest</a>
        <a href="/post-blogs/old" id="old"
            class="p-2 text-lg font-semibold hover:text-blue-600 hover:underline">Oldest</a>
        <a href="/post-blogs/mostreaded" id="mostreaded"
            class="p-2 text-lg font-semibold hover:text-blue-600 hover:underline">Most Readed </a>
    </div>
    <div class="blogs mt-4 clear-left w-full">
        <div id="testid" class="p-2 flex flex-col space-y-2">
            {% for post in allPosts %}
            <div class="card  flex flex-col  space-y-1  border-gray-800 rounded-md shadow-xl py-3 bg-gray-50">
                <div class="upper-part flex-col space-y-1 px-2 ">
                    <div class="flex space-x-2 items-center">

                        <div class="w-8 h-8 overflow-hidden rounded-full">
                            <img src="/media/{{post.author.profileImg}}" class="" alt="">
                        </div>

                        <a href="{% url 'App:Author Profile' post.author_id %}" class="author-name font-sans">
                            <p class="">
                                {{post.author.user.first_name}} {{post.author.user.last_name}}
                            </p>
                            <p class="text-xs">Posted on {{post.publish_time}}</p>
                        </a>
                    </div>
                    <div class="">
                    </div>
                </div>
                <a href="{% url 'App:Blog Post' post.id %}" id="card_link" class="">
                    <div class="px-2 flex justify-between items-center ">
                        <div class="flex flex-col  break-words    {% if post.thImg != '' %} w-[80%] {% else %}w-auto {% endif %} ">
                            <h1 id="title{{post.id}}" class="title font-semibold text-xl">{{post.title}}</h1>
                            <p class="blog-content">
                            <div class="preview block lg:hidden">{{post.content|safe|truncatechars_html:50}}</div>
                            <div class="preview hidden lg:block">{{post.content|safe|truncatechars_html:100}}</div>
                            </p>
                        </div> 
                        {% if post.thImg != '' %}
                        <div class="w-14 h-14 float-end overflow-hidden rounded-md">
                            <img src="/media/{{post.thImg}}" alt="">
                        </div>
                        {% endif %}
                    </div>
                </a>
            </div>
            <hr class="my-1 bg-gray-800">
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="p-4 mt-3">
        <p class="font-semibold text-xl">No search result found according to your query !!!</p>
    </div>
    {% endif %}


</div>
{% endblock body %}