{% extends "base.html" %}
{% load static %}


{% block css %}

{% endblock css %}

{% block js %}

<script>
    $(document).ready(function () {

        var screenWidth = $(window).width();
        if (screenWidth < 768) {
            $('#blog_content').summernote({
                height: 240,
                width: '100%',
            });
        } else {
            $('#blog_content').summernote({
                height: 240,
                width: '100%',
            });
        }

        // $("#trigger_cat_dropdown").on("click", function () {
        //     document.getElementById('Categories').classList.toggle('hidden');
        // });
    });

    function toggleDropDown() {
        document.getElementById('Categories').classList.toggle('hidden');
        let angle_icon=document.getElementsByClassName('angle-icon')[0];
        if (angle_icon.innerHTML==='<i class="fa-solid fa-angle-down fa-sm" aria-hidden="true"></i>') {
         angle_icon.innerHTML='<i class="fa-solid fa-angle-up fa-sm" ></i>';
        }
        else{
            angle_icon.innerHTML='<i class="fa-solid fa-angle-down fa-sm" ></i>';
        }
        
    }
    function selectOption(event) {
        var selectOption = event.target;
        if (selectOption.tagName === 'LI') {
            // var selectedValue = selectedOption.getAttribute('data-value');
            // Update the hidden input with the selected value
            document.getElementById('selectedOption').value = selectOption.innerText;
            document.getElementById('selectedOp').innerText = selectOption.innerText;
            // Close the dropdown after selecting an option
            toggleDropDown();

        }
    }
</script>

{% endblock js %}

{% block title %}Create Post{% endblock title %}
{% block body %}
<div class="container">
    <div class="">
        <div class="form">
            <form action="/create-post/" class="p-3 flex-col space-y-3 lg:space-y-4 w-full" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="title">
                    <label for="post_title" class="text-lg font-medium">Title</label>
                    <input type="text" name="post_title"
                        class="text-lg w-full  border-[1px] rounded border-gray-600 p-1 outline-gray-300  outline-offset-2 outline-2"
                        id="post_title" placeholder="Enter title of blog here..." required>
                </div>
                <div class="flex flex-col md:flex-row space-y-4 md:justify-between md:items-center">
                    <span class="Category-dropDown flex space-x-2">
                        <span class="flex items-center space-x-4">
                            <a class=" font-medium text-lg " id="trigger_cat_dropdown" onclick="toggleDropDown()"
                                role="button">Select
                                Category <span class="angle-icon mx-1"><i class="fa-solid fa-angle-down fa-sm"></i></span> </a>
                            <p class="" id="selectedOp"></p>
                        </span>
                        <ul id="Categories"
                            class="hidden w-fit top-[185px] md:top-[207px] absolute z-10 bg-gray-100 font-normal max-h-52 overflow-y-auto p-2 rounded-md"
                            onclick="selectOption(event)">
                            {% for cat in Categories %}
                            <li class="cursor-pointer hover:bg-white active:bg-blue-200 px-1 text-lg"
                                data-value="{{cat.name}}">
                                {{cat.name}}</li>
                            {% endfor %}
                        </ul>
                        <input name="category" type="hidden" id="selectedOption" value="">
                    </span>
                    <!-- Tag selector -->
                    <span class="flex space-x-3 items-center">
                        <p class="text-lg font-medium">Tags </p>
                        <input type="text" name="tags" id="tags"
                            class=" w-full lg:w-96 border-[1px] rounded border-gray-600 p-1 outline-gray-300  outline-offset-2 outline-1"
                            placeholder="#tag_name #tag2_name #tag3_name....." value="">
                    </span>
                </div>
                <div class="">
                    <label for="thumbnail" class="text-lg font-medium">Select Thumbnail (If Any) : </label>
                    <input type="file" id="thumbnail" name="thumbnail"  accept="image/*" value="">
                </div>

                <!-- Write blog section -->
                <div class="no-tailwind-base ">
                    <textarea required name="blog_content" id="blog_content" class="">
                    </textarea>
                </div>
                <div class="post-button">
                    <button type="submit"
                        class="submit-post-button p-2 rounded bg-gray-700 hover:bg-gray-800 active:outline active:outline-gray-800 active:outline-2 text-white">Post
                        blog</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}