{% extends "base.html" %}
{% load static %}

{% block title %}
NewPost - BlogBlend
{% endblock title %}
{% block css %}

{% endblock css %}

{% block js %}

<script>
    $(document).ready(function () {

        var screenWidth = $(window).width();
        $('#blog_content').summernote({
            toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['fontname', ['fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ],
        styleTags: [
        { title: 'Paragraph', tag: 'p', value: 'p' },
        { title: 'Blockquote', tag: 'blockquote', value: 'blockquote' },
        { title: 'Preformatted', tag: 'pre', value: 'pre' },
        { title: 'Header 1', tag: 'h2', value: 'h2' },
        { title: 'Header 2', tag: 'h3', value: 'h3' },
        { title: 'Header 3', tag: 'h4', value: 'h4' }
    ],
        height: 240,
        });
    });

</script>

{% endblock js %}

{% block title %}Create Post{% endblock title %}
{% block body %}
<div class="container">
    <div class="">
        <div class="form">
            <form action="{% url 'App:Create Post' %}" class="p-3 flex-col space-y-3 lg:space-y-4 w-full" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="title">
                    <label for="post_title" class="text-lg font-medium">Title</label>
                    <input type="text" name="post_title"
                        class="text-3xl w-full   border-[1px] rounded border-gray-600 p-1 outline-gray-300  outline-offset-2 outline-2"
                        id="post_title" placeholder="Enter title of blog here..." required>
                </div>
                <div class="flex flex-col md:flex-row space-y-4 md:justify-between md:items-center">

                    <!-- Tag selector -->
                    <span class="flex flex-col items-start">
                        <p class="text-lg font-medium">Tags </p>
                        <input type="text" name="tags" id="tags"
                            class=" w-full lg:w-96 border-[1px] rounded border-gray-600 p-1 outline-gray-300  outline-offset-2 outline-1"
                            placeholder="#tag_name #tag2_name #tag3_name....." value="">
                    </span>
                </div>
                <div class="">
                    <label for="thumbnail" class="text-lg font-medium">Select Thumbnail (If Any) : </label>
                    <input type="file"  id="thumbnail" name="thumbnail" accept="image/*"  value="">
                </div>

                <!-- Write blog section -->
                <div class="no-tailwind-base ">
                    <textarea required name="blog_content" id="blog_content" class="">
                    </textarea>
                </div>
                <div class="post-button">
                    <button type="submit"
                        class="submit-post-button p-2 rounded bg-gray-700 hover:bg-gray-800 active:outline active:outline-gray-800 active:outline-2 text-white">Post
                        blog</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}