{% extends "base.html" %}
{% block body %}
<div class="container p-3">
    <!-- Followers -->
    <div class="follower-following-section">
        <div class="flex space-x-2 items-center">
            <div class="w-10 h-10 overflow-hidden rounded-full ">
                <img src="/media/{{Author.profileImg}}" alt="">
            </div>
            <span class="">
                <p class="username  w-fit  text-xl">
                    {{Author.user.first_name}} {{Author.user.last_name}}
                </p>
            </span>
            <p class="text-3xl font-light px-1"> ></p>
            <p class="text-xl font-medium px-1">{% if follower %}followers{% else %}following{% endif %}</p>
        </div>
        <p class="follower w-fit text-2xl py-3 font-medium">{{AllUsers|length}} {% if follower %}Followers{% else %}Following {% endif%}</p>
        <hr class="bg-gray-600 my-2">
        <!-- All followers -->
        <div class="flex flex-col space-y-3 items-start p-2 lg:p-1">
            {% for AuthorF in AllUsers %} <!--Here AuthorF means  followers or Followings of author-->
            <div class="follower-card flex space-x-4 items-start w-full ">
                <a href="/" class="flex-shrink-0 ">
                    <div class="w-12 h-11 sm:h-12  overflow-hidden rounded-3xl ">
                        <img src="/media/{{AuthorF.profileImg}}" alt="" class="">
                    </div>
                    <div class="w-3/4 flex flex-col items-baseline"><p class="text-lg font-semibold py-1 ">{{AuthorF.user.first_name}} {{AuthorF.user.last_name}}</p>
                        <p class="">{{AuthorF.Bio|truncatechars:80}}  </p>
                    </div>
                </a>
                <button onclick="ChangeFollowers(this)"  id='follow{{AuthorF.id}}' class="px-3 py-2 bg-slate-800 text-white rounded-3xl text-sm lg:text-lg flex-grow-0">
                    Follow
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %}


{% block js%}
{% endblock js%}