{% extends "base.html" %}
{% load static %}
{% block title %}
{% endblock title %}


{% block body %}
<div class="container ">
    <div class="w-[92%] p-3   mb-5 mt-2  jumbotron mx-auto border-[1px] rounded-md text-white bg-gray-800 ">
        <p class="text-lg mt-2">Welcome to BlogBlend , your destination for curated insights and inspiration. Dive into thought-provoking articles on career, mindfulness, and creativity. Unleash your potential with us. Explore BlogBlend today.</p>
        
    </div>
    <hr>
    <h1 class="ml-4 font text-xl font-semibold mt-4">Most readed Posts :</h3>
        <div class="mt-4 flex flex-col space-y-2 px-2">
            {% for post in allPosts %}
            <div class="card border-gray-600 border-[1px] rounded-md shadow-md p-3">
                <div class="upper-part flex-col   ">
                    <div class="flex items-center space-x-2">
                        <a href="#" class="profile w-fit h-auto">
                            <img src="{% static 'img/profile.jpg' %}" class="w-auto rounded-full h-8" alt="">
                        </a>
                        <a href="" class="author-name flex flex-col  font-sans font-medium">
                            <p class="">
                                {{post.author}}
                            </p>
                            <p class="text-xs">Posted on {{post.publish_time}}</p>
                        </a>
                    </div>
                </div>

                <a href="/post-blogs/{{post.id}}/">
                    <div class="card-body mt-1">
                        <h2 class="title font-bold text-lg">{{post.title}}</h2>
                        <div class="preview card-text">
                            <p class="text-[17px]">{{post.content|safe | truncatechars_html:150}}
                        </div>
                    </div>
                </a>
                <div class="footer-part flex justify-between"></div>
            </div>
            {% endfor %}

        </div>
        <div class=""></div>
</div>
{% endblock body %}

{% block js%}
<script>
    let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}