{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load extraFilter %}
{% block body %}

<div class="container pt-2">
    <div class="main-body p-2 flex-col space-y-3 max-w-full">
        <h1 class="font-bold text-2xl">{{post.title}}</h1>
        <div class="post-header flex space-x-2 items-center">
            <span class="w-14 h-14 rounded-full overflow-hidden ">
                <img src="/media/{{post.author.profileImg}}" alt="..." class=" ">
            </span>
            <div class="flex flex-col space-y-1">
                <p class=" ">
                    <span class="font-normal">By </span><a href="{% url 'App:Author Profile' post.author_id %}"
                        class="text-blue-500 font-medium "> {{post.author.user.first_name}}
                        {{post.author.user.last_name}}</a>
                </p>
                <p class="time text-xs  font-light">
                    Posted on {{post.publish_time}}
                </p>
            </div>
        </div>
        <div class="flex justify-start space-x-6 ">
            <span class="flex space-x-1 items-center">
                <span id="postlike_count{{post.id}}" class="like-count">
                    {{post.like}}
                </span>
                <span id="postlike{{post.id}}" onclick="changeLikeStatePost(this)" class="like like-icon">
                    <i class="fa-regular fa-heart"></i>
                </span>
            </span>
            <span class="">{{CommentsDict|length}} <i class="fa-regular fa-comment"></i></span>
            <span class="">{{post.read_count}} <span class="text-gray-600"><i
                        class="fa-regular fa-eye"></i></span></span>
        </div>
        <p class="">
            <span class="flex space-x-2">
                {% for tag in post.tags.all %}
                <a href="" class="hover:text-blue-600 hover:underline">#{{tag.name}}</a>
                {% endfor %}
            </span>
        </p>
        <div class="no-tailwind-base">
            {{post.content|safe}}
        </div>
    </div>
    <div class="p-2 ">
        <h3 class="font-semibold flex space-x-3">
            <a role="button" class="cursor-pointer" id="comment_btn">
                Comments({{CommentsDict|length}}) <i class="fa-regular fa-comment"></i>
            </a>
        </h3>
        <div id="comment-block" class="hidden">
            <!-- Comment input -->
            <div class="comment-input">
                <form action="/post-comment" method="get" class="py-2">
                    {% csrf_token %}
                    <input type="hidden" name="postSno" value="{{post.id}}">
                    <input type="hidden" name="parentSno" value="">
                    <div class="flex-col flex space-y-1">
                        <input
                            class="p-1 rounded  border-[1px] border-gray-600 focus:outline focus:outline-blue-200 outline-2 outline-offset-1"
                            type="text" name="comment" id="comment" placeholder="Enter your comment here..." required>
                        <button type="submit"
                            class="p-1 bg-blue-400 active:bg-white active:text-black active:outline-blue-500 outline-1 outline text-gray-100 rounded  w-[25%]">Comment</button>
                    </div>
                </form>
            </div>

            <!-- Comments  -->
            <div class="All-comments flex flex-col space-y-2  px-2 mt-2">
                {% for comment,commentAuthor in CommentsDict.items %}
                <div class="">
                    <div class="flex space-x-2">
                        <img src="/media/{{commentAuthor.profileImg}}" alt=".."
                            class="w-7 h-auto aspect-square rounded-full">
                        <p class="user ">{{comment.user.first_name}} {{comment.user.last_name}}<span
                                class="font-light text-sm">
                                . {{comment.timeStamp|naturaltime}}
                            </span>
                        </p>
                    </div>
                    <div class="flex flex-col ml-9 space-y-2">
                        <p class="text-[17px] font-medium">{{comment.comment_text}}</p>
                        <p class="flex space-x-5">
                            <span class="flex space-x-1">
                                <span id="like_Count{{comment.sno}}" class="like-Count">
                                    {{comment.like}}
                                </span>
                                <span onclick="changeLikeState(this)" id="comment_like{{comment.sno}}"
                                    class="like text-[14px]">
                                    <i class="fa-regular fa-thumbs-up "></i>
                                </span>
                            </span>
                            {% if replies|get_replies:comment.sno|length > 0 %}
                            <span class="reply text-[14px]"><a role="button" id="btn{{comment.sno}}"
                                    class="reply-button py-1 px-3 hover:bg-gray-300   active:bg-blue-500 rounded-2xl active:text-white">Reply({{replies|get_replies:comment.sno|length}})</a></span>
                            {% else %}
                            <span class="reply text-[14px]"><a role="button" id="btn{{comment.sno}}"
                                    class="reply-button py-1 px-3 hover:bg-gray-300   active:bg-blue-500 rounded-2xl active:text-white">Reply</a></span>
                            {% endif %}
                        </p>
                        <div class="reply-section hidden " id="replyForm{{comment.sno}}">
                            <!-- Reply input -->
                            <form action="/post-comment" method="get" class="">
                                {% csrf_token %}
                                <input type="hidden" name="postSno" value="{{post.id}}">
                                <input type="hidden" name="parentSno" value="{{comment.sno}}">
                                <div class="">
                                    <div class="flex space-x-1 items-center">
                                        <img src="{% static 'img/profile.jpg' %}" alt=".."
                                            class="w-auto h-6 rounded-3xl">
                                        <input
                                            class="p-1 rounded  border-[1px] focus:outline focus:outline-blue-300 outline-2 w-full"
                                            type="text" name="comment" id="reply{{comment.sno}}"
                                            placeholder="Enter your comment here..." required>
                                    </div>
                                    <div class="flex mt-2  space-x-2 w-full justify-end">
                                        <button id="cancel{{comment.sno}}" type="button"
                                            class="cancel-reply hover:bg-gray-300  active:bg-blue-500 active:text-white py-1 px-3 text-[15px] rounded-2xl">Cancel</button>
                                        <button type="submit"
                                            class="py-1 px-3 bg-blue-500 text-[15px]   rounded-2xl text-white  ">
                                            Reply
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="all-replies mt-1 flex flex-col space-y-2 bg-gray-50 py-2 px-1 ">
                                {% for reply in replies|get_replies:comment.sno %}
                                <div class="flex space-x-2">
                                    <img src="{% static 'img/profile.jpg' %}" alt=".." class="w-auto h-6 rounded-3xl">
                                    <p class="text-sm">{{reply.comment_text}}</p>
                                </div>
                                {% endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr class="mt-2 mb-3 bg-gray-600   w-auto mx-2">
    <div class="related-post-container p-2">
        <h3 class="font-semibod text-xl p-2">Related posts :</h3>
        <div class="posts">
            {% for post in Related_posts %}
            <div class="card flex  flex-col space-y-1 mt-2 outline outline-gray-400 rounded-lg p-2 outline-1 xl:w-[45%] xl:float-left xl:mx-2">
                <a href="{% url 'App:Author Profile' post.author_id %}" class="post-author-lin">
                    <span class="upper-body flex space-x-2 items-center">
                        <span class="w-10 h-10 rounded-full overflow-hidden"><img
                                src="/media/{{post.author.profileImg}}" alt=""></span>
                        <span class="flex flex-col">
                            <p class="font-normal">By <span class=" text-blue-700"> {{post.author.user.first_name}}
                                    {{post.author.user.last_name}}</span></p>
                            <p class="text-xs font-light ">{{post.publish_time}}</p>
                        </span>
                    </span>
                </a>
                <a href="{% url 'App:Blog Post' post.id %}" class="post-link ">
                    <div class="main-body px-1">
                        <p class="font-semibold text-lg">{{post.title}}</p>
                        <div class="preview card-text ">{{post.content|safe | truncatechars_html:150}}</div>
                    </div>
                </a>

            </div>
            {% endfor %}
        </div>
    </div>


</div>
<div class="h-6"></div>

{% endblock body %}

{% block js %}
<script>
    function likeButton_state() {
        {% if user.is_authenticated %}
        let likeBtns = document.getElementsByClassName('like');
        for (let i = 0; i < likeBtns.length; i++) {
            let element = likeBtns[i];
            if (localStorage.getItem(element.id + "{{user.username}}")) {
                element.innerHTML = localStorage.getItem(element.id + "{{user.username}}");
            }
        }
        {% endif %}
    }
    likeButton_state();

    //function send ajax to views to change like count in database
    function changeLikeCount(action, element) {
        let dataToSend = { 'action': action };
        if (element.id.charAt(0) === 'c') {
            dataToSend.commentNo = element.id.slice(12);
            // console.log(dataToSend);
        }
        $.ajax({
            type: "POST",
            url: "/post-blogs/{{post.id}}/",
            // data: { 'commentNo': elem.id.slice(12), 'action': action },
            data: dataToSend,
            dataType: "json",
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            },
            success: function (data) {
                if (element.id.charAt(0) === 'c') {
                    document.getElementById('like_Count' + element.id.slice(12)).innerText = data.likeCount;
                }
                else {
                    document.getElementById('postlike_count' + element.id.slice(8)).innerText = data.likeCount;
                }
            },
            error: function (error) {
                console.log("Your error:", error);
            }
        });
    }

    //When comment like is clicked 

    function changeLikeState(likeBtn) {
        //lower method is used because in js True is in lower form (true)
        // if ({{ user.is_authenticated | lower }}) {
        {% if user.is_authenticated %}
        // let likeBtn = document.getElementById(elem.id);
        // // console.log( elem.id.slice(12));
        if (likeBtn.innerHTML.trim() == `<i class="fa-regular fa-thumbs-up " aria-hidden="true"></i>`) {
            likeBtn.innerHTML = `<i class="fa-solid fa-thumbs-up "></i>`;
            changeLikeCount("CommentlikeIncrease", likeBtn);
            localStorage.setItem(likeBtn.id + "{{user.username}}", likeBtn.innerHTML);
        }
        else {
            likeBtn.innerHTML = `<i class="fa-regular fa-thumbs-up "></i>`;
            localStorage.setItem(likeBtn.id + "{{user.username}}", likeBtn.innerHTML);
            changeLikeCount("CommentlikeDecrease", likeBtn);
        }
        {% else %}
        showLogin();
        {% endif %}
    }

    // When post like is clicked
    function changeLikeStatePost(likeBtn) {
        //check user is logged in or not
        {% if user.is_authenticated %}

        if (likeBtn.innerHTML.trim() == `<i class="fa-regular fa-heart" aria-hidden="true"></i>`) {
            likeBtn.innerHTML = `<i class="fa-solid fa-heart" style="color: #f7022b;"></i>`;
            changeLikeCount('PostLikeIncrease', likeBtn);
            localStorage.setItem(likeBtn.id + "{{user.username}}", likeBtn.innerHTML);
        }
        else {
            likeBtn.innerHTML = `<i class="fa-regular fa-heart"></i>`;
            changeLikeCount('PostLikeDecrease', likeBtn);
            localStorage.setItem(likeBtn.id + "{{user.username}}", likeBtn.innerHTML);
        }

        {% else %}
        showLogin();
        {% endif %}
    }


    //when document is ready
    $(document).ready(function () {
        let commnent_btn = document.querySelector('#comment_btn');
        commnent_btn.addEventListener('click', function () {
            let comment_block = document.getElementById("comment-block");
            if (comment_block.classList.contains('hidden')) {
                comment_block.classList.remove('hidden');
                comment_block.classList.add('block');
            }
            else if (comment_block.classList.contains('block')) {
                comment_block.classList.remove('block');
                comment_block.classList.add('hidden');
            }
        })
        // Onclick reply button
        let reply_btns = document.getElementsByClassName('reply-button');
        for (let index = 0; index < reply_btns.length; index++) {
            let element = reply_btns[index];
            let element_id = element.id;
            let s_no = element_id.slice(3)
            element.addEventListener('click', function () {
                let reply_form = document.getElementById('replyForm' + s_no)
                if (reply_form.classList.contains('hidden')) {
                    reply_form.classList.remove('hidden');
                    reply_form.classList.add('block');
                }
                else if (reply_form.classList.contains('block')) {
                    reply_form.classList.remove('block');
                    reply_form.classList.add('hidden');
                }
                for (let i = 0; i < reply_btns.length; i++) {
                    if (i != index) {
                        let x = reply_btns[i];
                        let x_id = x.id;
                        let Sno = x_id.slice(3)
                        let reply_form = document.getElementById('replyForm' + Sno)
                        if (reply_form.classList.contains('block')) {
                            reply_form.classList.remove('block');
                            reply_form.classList.add('hidden');
                        }
                    }
                }
            })
            let cancelReply_btn = document.getElementById('cancel' + s_no)
            cancelReply_btn.addEventListener('click', function () {
                let reply_form = document.getElementById('replyForm' + s_no)

                if (reply_form.classList.contains('block')) {

                    reply_form.classList.remove('block');
                    reply_form.classList.add('hidden');
                }
            })

        }

        // funtion to increase readcount if user stay for while

        {% if user.is_authenticated %}
        setTimeout(readIncrease, 120000);
        function readIncrease() {
            $.ajax({
                type: "PATCH",
                url: "/post-blogs/{{post.id}}/",
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                success: function (data) {
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        }
        {% endif %}
    });
</script>
{% endblock js %}