{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load extraFilter %}
{% block body %}

<div class="container pt-2">
    <div class="main-body p-2 flex-col space-y-3 max-w-full">
        <h1 class="font-bold text-2xl">{{post.title}}</h1>
        <div class="post-header flex space-x-2 items-center">
            <span class="w-14 h-14 rounded-full overflow-hidden ">
                <img src="/media/{{post.author.profileImg}}" alt="..." class=" ">
            </span>
            <div class="flex flex-col space-y-1">
                <p class=" ">
                    <span class="font-normal">By </span><a href="{% url 'App:Author Profile' post.author_id %}"
                        class="text-blue-500 font-medium "> {{post.author.user.first_name}}
                        {{post.author.user.last_name}}</a>
                </p>
                <p class="time text-xs  font-light">
                    Posted on {{post.publish_time}}
                </p>
            </div>
        </div>
        <div class="flex justify-start space-x-6 ">
            <span class="flex space-x-1 items-center">
                <span id="postlike_count{{post.id}}" class="like-count">
                    {{post.like}}
                </span>
                <span id="postlike{{post.id}}" onclick="changeLikeStatePost(this)" class="like like-icon">
                    <a role="button" class="" onclick="LikePost({{post.id}})" id="LikePostLink{{post.id}}">
                        {% if post.id in request.session.LikedPosts %}
                        <i id="LikePost{{post.id}}" class="fa-solid fa-heart fa-lg " style="color: #f7022b;"></i>
                        {% else %}
                        <i id="LikePost{{post.id}}" class="fa-regular fa-heart fa-lg" style="color: #f7022b;"></i>
                        {% endif %}
                    </a>
                </span>
            </span>
            <span class="">{{CommentsDict|length}} <i class="fa-regular fa-comment fa-lg"></i></span>
            <span class="">{{post.read_count}} <span class="text-gray-600"><i
                        class="fa-regular fa-eye fa-lg"></i></span></span>
            <span class="">
                <a role="button" class="bookmark" onclick="SavePost(this)" id="Save_post{{post.id}}">
                    {% if post.id in request.session.postList %}
                    <i id="saveIcon{{post.id}}" class="fa-solid fa-bookmark fa-lg"></i>
                    {% else %}
                    <i id="saveIcon{{post.id}}" class="fa-regular fa-bookmark fa-lg"></i>
                    {% endif %}
                </a>
            </span>
        </div>
        <p class="">
            <span class="flex space-x-2">
                {% for tag in post.tags.all %}
                <a href="{% url 'App:Blogs by tag' tag.name %}"
                    class="hover:text-blue-600 hover:underline">#{{tag.name}}</a>
                {% endfor %}
            </span>
        </p>

        <hr class="mt-2 mb-3 bg-gray-600   w-auto ">
        <div class="no-tailwind-base">
            {{post.content|safe}}
        </div>
    </div>
    <div class="p-2 ">
        <h3 class="font-semibold flex space-x-3">
            <a role="button" class="cursor-pointer" id="comment_btn">
                Comments({{CommentsDict|length}}) <i class="fa-regular fa-comment"></i>
            </a>
        </h3>
        <div id="comment-block" class="hidden">
            <!-- Comment input -->
            <div class="comment-input flex space-x-3">
                <span class="w-10 h-10 overflow-hidden rounded-full ">
                    <img src="/media/{{User.profileImg}}" alt="">
                </span>
                <form action="/post-comment"  method="get" class="py-2  w-full">
                    {% csrf_token %}
                    <input type="hidden" name="postSno" value="{{post.id}}">
                    <input type="hidden" name="parentSno" value="">
                    <div class="flex-col flex space-y-1">
                        <input
                            class="p-1 rounded  border-[1px] border-gray-600 focus:outline focus:outline-blue-200 outline-2 outline-offset-1"
                            type="text" name="comment" id="comment" placeholder="Enter your comment here..." required>
                        <button
                            class="p-1 bg-blue-400 active:bg-white active:text-black active:outline-blue-500 outline-1 outline text-gray-100 rounded  w-[25%]" {% if not user.is_authenticated%} onclick="showLogin()"   type="button"{% else %} type="submit" {% endif %}>Comment</button>
                    </div>
                </form>
            </div>

            <!-- Comments  -->
            <div class="All-comments flex flex-col space-y-2  px-2 mt-2">
                {% for comment,commentAuthor in CommentsDict.items %}
                <div class="">
                    <div class="flex space-x-2 ">
                        <span class="w-10 h-10 overflow-hidden rounded-full">
                            <img src="/media/{{commentAuthor.profileImg}}" alt=".." class="">
                        </span>
                        <div class="flex flex-col  space-y-1 w-full">
                            <p class="user font-medium">{{comment.user.first_name}} {{comment.user.last_name}}<span
                                    class="font-light text-xs">
                                    . {{comment.timeStamp|naturaltime}}
                                </span>
                            </p>
                            <p class="text-[17px] font-normal">{{comment.comment_text}}</p>
                            <p class="flex space-x-5">
                                <span class="flex space-x-1">
                                    <span id="like_Count{{comment.sno}}" class="like-Count">
                                        {{comment.like}}
                                    </span>
                                    <span onclick="changeLikeState(this)" id="comment_like{{comment.sno}}"
                                        class="like text-[14px] cursor-pointer">
                                        <i class="fa-regular fa-thumbs-up "></i>
                                    </span>
                                </span>
                                {% if replies|get_replies:comment.sno|length > 0 %}
                                <span class="reply text-[14px]"><a role="button" id="btn{{comment.sno}}"
                                        class="reply-button py-1 px-3 hover:bg-gray-300   active:bg-blue-500 rounded-2xl active:text-white">Reply({{replies|get_replies:comment.sno|length}})</a></span>
                                {% else %}
                                <span class="reply text-[14px]"><a role="button" id="btn{{comment.sno}}"
                                        class="reply-button py-1 px-3 hover:bg-gray-300   active:bg-blue-500 rounded-2xl active:text-white">Reply</a></span>
                                {% endif %}
                            </p>
                            <div class="reply-section hidden " id="replyForm{{comment.sno}}">
                                <!-- Reply input -->
                                <form action="/post-comment" method="get" class="">
                                    {% csrf_token %}
                                    <input type="hidden" name="postSno" value="{{post.id}}">
                                    <input type="hidden" name="parentSno" value="{{comment.sno}}">
                                    <div class="">
                                        <div class="flex space-x-1 items-center">
                                            <div class="w-8 h-8 rounded-full overflow-hidden">
                                                <img src="/media/{{User.profileImg}}" alt=".." class="">
                                            </div>
                                            <input
                                                class="p-1 rounded  border-[1px] focus:outline focus:outline-blue-300 outline-2 w-full"
                                                type="text" name="comment" id="reply{{comment.sno}}"
                                                placeholder="Enter your comment here..." required>
                                        </div>
                                        <div class="flex mt-2  space-x-2 w-full justify-end">
                                            <button id="cancel{{comment.sno}}" type="button"
                                                class="cancel-reply hover:bg-gray-300  active:bg-blue-500 active:text-white py-1 px-3 text-[15px] rounded-2xl">Cancel</button>
                                            <button {% if not user.is_authenticated%} onclick="showLogin()"   type="button"{% else %} type="submit" {% endif %}
                                                class="py-1 px-3 bg-blue-500 text-[15px]   rounded-2xl text-white  ">
                                                Reply
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="all-replies mt-1 flex flex-col space-y-2 bg-gray-50 py-2 px-1 ">
                                    {% for allreply in replies|get_replies:comment.sno %}
                                    {% for replyUser,reply in allreply.items %}
                                    <div class="flex flex-col space-y-1">
                                        <span class="flex space-x-2 ">
                                            <span class="w-8 h-8 rounded-full overflow-hidden">
                                                <img src="/media/{{replyUser.profileImg}}" alt=".." class="">
                                            </span>
                                            <div class="flex flex-col space-y-1">
                                                <p class="user font-medium">{{reply.user.first_name}}
                                                    {{reply.user.last_name}}<span class="font-light text-xs">
                                                        . {{reply.timeStamp|naturaltime}}
                                                    </span>
                                                </p>
                                                <p class="text-sm">{{reply.comment_text}}</p>
                                                <div class="footer-part"></div>
                                            </div>
                                        </span>

                                    </div>
                                    {% endfor %}
                                    {% endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr class="mt-2 mb-3 bg-gray-600   w-auto mx-2">
    <div class="related-post-container p-2">
        <h3 class="font-semibod text-xl p-2">Related posts :</h3>
        <div class="posts pt-4">
            {% for postr in Related_posts %}
            {% if postr.id != post.id %}
            <div
                class="card flex  flex-col space-y-1 mt-2 outline outline-gray-400 rounded-lg p-2 outline-1 xl:w-9/12 xl:mx-auto">
                <a href="{% url 'App:Author Profile' postr.author_id %}" class="post-author-lin">
                    <span class="upper-body flex space-x-2 items-center">
                        <span class="w-8 h-8 rounded-full overflow-hidden"><img src="/media/{{postr.author.profileImg}}"
                                alt=""></span>
                        <span class="flex flex-col">
                            <p class="font-normal">By <span class=" text-blue-700"> {{postr.author.user.first_name}}
                                    {{postr.author.user.last_name}}</span></p>
                            <p class="text-xs font-light ">{{postr.publish_time}}</p>
                        </span>
                    </span>
                </a>
                <a href="{% url 'App:Blog Post' postr.id %}" id="card_link" class="">
                    <div class="px-1 flex justify-between ">
                        <div
                            class="flex flex-col  break-words    {% if postr.thImg != '' %} w-[80%] {% else %}w-auto {% endif %} ">
                            <h1 id="title{{postr.id}}" class="title font-semibold text-xl">{{postr.title}}</h1>
                            <p class="blog-content">
                            <div class="preview block ">{{postr.content|safe|truncatechars_html:50}}</div>

                            </p>
                        </div>
                        {% if postr.thImg != '' %}
                        <div class="w-14 h-14 lg:w-20 lg:h-16 float-end overflow-hidden rounded-md">
                            <img src="/media/{{postr.thImg}}" alt="">
                        </div>
                        {% endif %}
                    </div>
                </a>
                <div class="footer-part flex items-center justify-between  px-2 py-1">
                    <span class="flex space-x-4 items-center ">
                        <a role="button" class="" onclick="LikePost({{postr.id}})" id="LikePostLink{{postr.id}}">
                            {% if postr.id in request.session.LikedPosts %}
                            <i id="LikePost{{postr.id}}" class="fa-solid fa-thumbs-up text-md lg:text-lg"></i>
                            {% else %}
                            <i id="LikePost{{postr.id}}" class="fa-regular fa-thumbs-up text-md lg:text-lg"></i>
                            {% endif %}
                        </a>
                        <a href="" class=""><i class="fa-regular fa-comment fa-md"></i></a>
                    </span>
                    <span
                        class="p-2 hidden fixed top-16 left-1/2  transform duration-300 -translate-y-full -translate-x-1/2 w-32 text-center text-white font-semibold rounded shadow-green-100 bg-black"
                        id="SavePost_popover">
                        Post saved
                    </span>
                    <span class="flex space-x-6 items-center mx-3">
                        <a role="button" class="bookmark" onclick="SavePost(this)" id="Save_post{{postr.id}}">
                            {% if postr.id in request.session.postList %}
                            <i id="saveIcon{{postr.id}}" class="fa-solid fa-bookmark  text-md lg:text-lg"></i>
                            {% else %}
                            <i id="saveIcon{{postr.id}}" class="fa-regular fa-bookmark  text-md lg:text-lg"></i>
                            {% endif %}
                        </a>
                        <a role="button" class="three-dots cursor-pointer"><i
                                class="fa-solid fa-ellipsis fa-lg"></i></a>
                        <span id="Option_box{{postr.id}}"
                            class="absolute bg-white  hidden p-2 border-gray-500 border rounded ">
                            <ul class="flex flex-col">
                                <li class="" id="follow_op">
                                    Follow
                                </li>
                            </ul>
                        </span>
                    </span>

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>


</div>
<div class="h-6"></div>

{% endblock body %}

{% block js %}
<script>
    $(document).ready(function () {
        let commnent_btn = document.querySelector('#comment_btn');
        commnent_btn.addEventListener('click', function () {
            let comment_block = document.getElementById("comment-block");
            if (comment_block.classList.contains('hidden')) {
                comment_block.classList.remove('hidden');
                comment_block.classList.add('block');
            }
            else if (comment_block.classList.contains('block')) {
                comment_block.classList.remove('block');
                comment_block.classList.add('hidden');
            }
        })
        // Onclick reply button
        let reply_btns = document.getElementsByClassName('reply-button');
        for (let index = 0; index < reply_btns.length; index++) {
            let element = reply_btns[index];
            let element_id = element.id;
            let s_no = element_id.slice(3)
            element.addEventListener('click', function () {
                let reply_form = document.getElementById('replyForm' + s_no)
                if (reply_form.classList.contains('hidden')) {
                    reply_form.classList.remove('hidden');
                    reply_form.classList.add('block');
                }
                else if (reply_form.classList.contains('block')) {
                    reply_form.classList.remove('block');
                    reply_form.classList.add('hidden');
                }
                for (let i = 0; i < reply_btns.length; i++) {
                    if (i != index) {
                        let x = reply_btns[i];
                        let x_id = x.id;
                        let Sno = x_id.slice(3)
                        let reply_form = document.getElementById('replyForm' + Sno)
                        if (reply_form.classList.contains('block')) {
                            reply_form.classList.remove('block');
                            reply_form.classList.add('hidden');
                        }
                    }
                }
            })
            let cancelReply_btn = document.getElementById('cancel' + s_no)
            cancelReply_btn.addEventListener('click', function () {
                let reply_form = document.getElementById('replyForm' + s_no)

                if (reply_form.classList.contains('block')) {

                    reply_form.classList.remove('block');
                    reply_form.classList.add('hidden');
                }
            })

        }

        // funtion to increase readcount if user stay for while

        {% if user.is_authenticated %}
        setTimeout(readIncrease, 120000);
        function readIncrease() {
            $.ajax({
                type: "PATCH",
                url: "/post-blogs/{{post.id}}/",
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                success: function (data) {
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        }
        {% endif %}
    });

</script>
{% endblock js %}