{% extends "base.html" %}
{% load static %}


{% block css %}

{% endblock css %}

{% block js %}

<script>
    $(document).ready(function () {

        var screenWidth = $(window).width();
        if (screenWidth < 768) {
            $('#blog_content').summernote({
                height: 240,
                width: '100%',
            });
        } else {
            $('#blog_content').summernote({
                height: 240,
                width: '100%',
            });
        }

        // $("#trigger_cat_dropdown").on("click", function () {
        //     document.getElementById('Categories').classList.toggle('hidden');
        // });
    });

</script>

{% endblock js %}

{% block body %}
<div class="container">

    <p class="text-center pt-4 text-xl font-medium">Update Post</p>
    <div class="">
        <div class="form">
            <form action="{% url 'App:Update post' post.slug %}" class="p-3 flex-col space-y-3 lg:space-y-4 w-full" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="title">
                    <label for="post_title" class="text-lg font-medium">Title</label>
                    <input type="text" name="post_title"
                        class="text-3xl w-full   border-[1px] rounded border-gray-600 p-1 outline-gray-300  outline-offset-2 outline-2"
                        id="post_title" placeholder="Enter title of blog here..." value="{{post.title}}" required >
                </div>
                <div class="flex flex-col md:flex-row space-y-4 md:justify-between md:items-center">

                    <!-- Tag selector -->
                    <span class="flex flex-col items-start">
                        <p class="text-lg font-medium">Tags </p>
                        <input type="text" name="tags" id="tags"
                            class=" w-full lg:w-96 border-[1px] rounded border-gray-600 p-1 outline-gray-300  outline-offset-2 outline-1"
                            placeholder="#tag_name #tag2_name #tag3_name....." value="{% for tag in post.tags.all %}#{{tag.name}} {%endfor%}">
                    </span>
                </div>
                <div class="">
                    <label for="thumbnail" class="text-lg font-medium">Select Thumbnail (If Any) : </label>
                    <input type="file" id="thumbnail" name="thumbnail" accept="image/*" > <!-- if post thumbnail is  then assign value-->
                </div>

                <!-- Write blog section -->
                <div class="no-tailwind-base ">
                    <textarea required name="blog_content" id="blog_content" class="" >
                        {{post.content|safe}}
                    </textarea>
                </div>
                <div class="post-button">
                    <button type="submit"
                        class="submit-post-button p-2 rounded bg-gray-700 hover:bg-gray-800 active:outline active:outline-gray-800 active:outline-2 text-white">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}