{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>

<body>
    <span id="close_modals" class="w-full h-full absolute top-0 bottom-0 bg-black opacity-30 hidden"></span>
    <nav
        class="bg-white text-white py-3 px-2 outline outline-1 outline-gray-400 flex justify-between items-center fixed  top-0 w-full">
        <a href="/" class="">
            <div class="">
                <p class=" text-2xl font-bold text-black">Blog</p>
            </div>
        </a>
        <div class="flex items-center space-x-1">
            <div class="search p-1  rounded-sm" onclick="searchBar_Show()">
                <span><img class="w-6 h-6" src="{% static 'img/searchimg.png' %}" alt=""></span>
            </div>
            <div class="">
                {% if user.is_authenticated %}
                <a id="Create_postBtn"
                    class="text-gray-800  font-medium hover:bg-gray-700 hover:text-white hover:border-white border-gray-700 border-[1px] rounded-md p-2"
                    href="/create-post/" role="button">Create post</a>
                {% else %}
                <a id="signupBtn"
                    class="text-gray-800 font-medium hover:bg-gray-800 hover:text-white active:disabled: border-gray-700 border-[1px] rounded-md p-2"
                    href="/sign-up">Create account</a>
                {% endif %}
            </div>
            <div id="test" class="hamburger flex-col flex space-y-1 p-2 hover:bg-gray-200  rounded-md">
                <div class="h-0.5 w-[18px]  bg-black"></div>
                <div class="h-0.5 w-[18px]  bg-black"></div>
                <div class="h-0.5 w-[18px]  bg-black"></div>
            </div>
        </div>
    </nav>

    <div class="empty-box w-full h-14"></div>
    {% for Message in messages %}
    <div id="alert" class="Dismissable-alert    p-2 bg-gray-100 w-full flex justify-between items-center">
        <p class=""><strong>{{Message.tags}} : </strong> {{Message}}</p>
        <span class="text-xl text-black px-2 rounded-lg  hover:bg-gray-300 active:text-white"
            id="dismiss_alert">&times;</span>
    </div>
    {% endfor %}
    <div id="searchBar" class="searchBar  bg-white m-2 hidden ">
        <form action="/post-blogs/" method="post" class="space-x-2 flex ">
            {% csrf_token %}
            <input type="text" name="SearchQuery" id="SearchQuery"
                class="w-full p-[7px]  bg-gray-50  focus:outline-[2px] shadow-md  focus:outline-blue-300 focus:outline border-[1px] border-gray-500 rounded"
                placeholder="Search..." required>
            <button type="submit"
                class="hover:bg-blue-900 hover:text-white shadow-sm bg-white text-black rounded text-sm p-[7px] border-[1px] border-gray-500">Search</button>
        </form>
    </div>
    <div id="navigation_bar"
        class="transform translate-x-full  duration-200 fixed right-0 top-0 bg-gray-100 px-2  z-10 w-2/3 h-full scroll-auto ">
        <div class=" flex justify-between items-center px-1 py-3">
            <p class="font-semibold text-lg text-black">My Blog</p>
            <span id="navigation_close" onclick="hide_navigation()"
                class="text-2xl font-semibold active:text-gray-500 active:bg-white cursor-pointer rounded-sm ">&times;</span>
        </div>
        <div class=" mb-6 p-2">
            <div class="p-2 mx-auto  h-28 border-black rounded-sm border-[1px]">
                <p>This is my blog website includes</p>
            </div>
        </div>
        <div class="my-2 flex flex-col space-y-1 px-4">
            {% if user.is_authenticated %}
            <a href="/logout-user"
                class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Logout</a>
            {% else %}
            <a role="button" onclick="showSignUp()"
                class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Create
                account</a>
            <a role="button" onclick="showLogin()"
                class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Login</a>
            {% endif %}
        </div>
        <hr class="bg-black">
        <div class="flex flex-col mt-4">

            <a href="/" class="">
                <div class="p-1 hover:bg-blue-100 rounded-sm">Home</div>
            </a>
            <a href="/post-blogs" class="">
                <div class="p-1 hover:bg-blue-100 rounded-sm">Posts</div>
            </a>
            <a href="#" class="">
                <div class="p-1 hover:bg-blue-100 rounded-sm">Category</div>
            </a>
            <a href="#" class="">
                <div class="p-1 hover:bg-blue-100 rounded-sm">About</div>
            </a>
        </div>
    </div>

    <!-- Login modal -->
    <div class="login-container">
        <div id='login_modal'
            class=" p-4 bg-gray-100 mx-auto rounded-lg shadow-sm shadow-white w-[90%] fixed top-[40%] left-1/2  -translate-x-1/2 -translate-y-1/2 transform hidden">
            <div class="float-right">
                <span onclick="closeLoginModal()"
                    class="transform -translate-y-4 close  text-2xl relative right-0 text-semibold cursor-pointer">&times;</span>
            </div>
            <div class="mt-4 clear-right">
                <p class="text-lg font-semibold text-center">Login here</p>
            </div>
            <form action="/login-user/" class="w-full p-4 space-y-2" method="post">
                {% csrf_token %}
                <div class="flex-col flex space-y-1">
                    <label for="username" class="text-[17px] ">Username</label>
                    <input name="username" id="username" type="text"
                        class="text-[17px] rounded p-2 border-[1px] border-black focus:outline  focus:outline-1 focus:outline-gray-700"
                        required>
                </div>
                <div class="flex-col flex space-y-1">
                    <label for="password" class="text-[17px] ">Password</label>
                    <input name="password" id="password" type="password"
                        class="text-[17px] rounded p-2 border-[1px] border-black focus:outline  focus:outline-1 focus:outline-gray-700"
                        required>
                </div>
                <div class="btn flex justify-center pt-2">
                    <button type="submit"
                        class="text-[16px] p-2 px-4 font-semibold rounded bg-blue-600 text-gray-100 ">Login</button>
                </div>
                <div class="#">

                </div>
            </form>
        </div>
    </div>

    <div class="main-container lg:flex ">
        <div class="w-[25%] hidden  lg:block mr-2">
            <div class="w-0.5 float-end bg-gray-600 h-full my-2 mx-2"></div>
        </div>
        <!-- main -->

        <div class="pt-1">
            {% block body %}
            {% endblock body %}
        </div>

        <div class="w-[20%] hidden lg:block"></div>
    </div>

    {% block js %}
    {% endblock js %}
    <script src="{% static 'Js/base.js' %}"></script>
</body>

</html>