{% load compress %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="https://kit.fontawesome.com/72038e3a92.js" crossorigin="anonymous"></script>


    {% block css %}
    {% endblock css %}

</head>

<body class="">
    <span id="close_modals" class="w-full h-[100%] fixed top-0 bg-black opacity-30 hidden"></span>
    <nav
        class="lg:px-36 bg-white text-white py-3 px-2 outline outline-1 outline-gray-400 flex justify-between items-center fixed  top-0 w-full z-20">
        <a href="/" class="">
            <div class="">
                <p class=" text-2xl font-bold text-black">BlogBlend</p>
            </div>
        </a>
        <div class="flex items-center space-x-1">
            <div class="search p-1  rounded-sm" onclick="searchBar_Show()">
                <span class="text-black p-1 hover:text-gray-600 cursor-pointer"><i
                        class="fa-solid fa-magnifying-glass fa-xl"></i></span>
            </div>
            <div class="">
                {% if user.is_authenticated %}
                <a id="Create_postBtn"
                    class="text-gray-800  font-medium hover:bg-gray-700 hover:text-white hover:border-white border-gray-700 border-[1px] rounded-md p-2"
                    href="/create-post/" role="button">Create post</a>
                {% else %}
                <a id="signupBtn"
                    class="text-gray-800 font-medium hover:bg-gray-800 hover:text-white active:disabled: border-gray-700 border-[1px] rounded-md p-2"
                    href="/sign-up">Create account</a>
                {% endif %}
            </div>
            <div id="hamburger" class="lg:hidden hamburger flex-col flex space-y-1 p-2 hover:bg-gray-200  rounded-md">
                <div class="h-0.5 w-[18px]  bg-black"></div>
                <div class="h-0.5 w-[18px]  bg-black"></div>
                <div class="h-0.5 w-[18px]  bg-black"></div>
            </div>
        </div>
    </nav>
    <div class="empty-box w-full h-14"></div>
    {% for Message in messages %}
    <div id="alert" class="p-1 block z-10 fixed  top-14 w-full">
        <div
            class="Dismissable-alert  rounded-md  p-2 {% if Message.tags == 'error' %}bg-red-100 {% elif  Message.tags == 'success' %}bg-green-200 {% endif %}  border   w-full flex justify-between items-center">
            {% comment %} <strong>{{Message.tags}} : </strong> {% endcomment %}
            <p
                class="{% if Message.tags == 'error' %} text-red-800 {% elif  Message.tags == 'success' %} text-green-700 {% endif %} ">
                {{Message}}</p>
            <span class=" text-xl text-black px-2 py-1 rounded-md  hover:bg-gray-50 active:text-white cursor-pointer"
                id="dismiss_alert">&times;</span>
        </div>
    </div>
    {% endfor %}
    <div id="searchBar" class="searchBar lg:w-[60%] lg:ml-[18%]   bg-white my-2 hidden  ">
        <form action="/post-blogs/" method="post" class="space-x-2 flex px-1">
            {% csrf_token %}
            <input type="text" name="SearchQuery" id="SearchQuery"
                class="w-full p-[7px]  bg-gray-50  focus:outline-[2px] shadow-md  focus:outline-blue-200 focus:outline border-[1px] border-gray-500 rounded outline-offset-1"
                placeholder="Search..." required>
            <button type="submit"
                class="hover:bg-blue-900 hover:text-white shadow-sm bg-white text-black rounded text-sm p-[7px] border-[1px] border-gray-500">Search</button>
        </form>

    </div>

    <!-- navigation bar  -->
    <div id="navigation_bar"
        class="lg:hidden transform translate-x-full  duration-200 fixed right-0 top-0 bg-gray-100 px-2  z-30 w-[72%]  h-full scroll-auto ">
        <div class=" flex justify-between items-center px-1 py-2">
            <span class="">
                <p class="font-semibold text-lg text-black ml-3 items-center">BlogBlend</p>
            </span>
            <span id="navigation_close" onclick="hide_navigation()"
                class="text-2xl font-semibold active:text-gray-500 active:bg-white cursor-pointer rounded-sm ">&times;</span>
        </div>
        <div class=" w-full mb-6 p-2">
            {% if user.is_authenticated %}
            <div class="p-2  mx-auto flex flex-col  items-center space-y-1">
                <div class="w-20 h-20 outline outline-white rounded-full overflow-hidden">
                    <img src="/media/{{User.profileImg}}" class="" alt="">
                </div>
                <a href="/profile" class="">
                    <!-- <p class="font-semibold text-lg">{{user.first_name}} {{user.last_name}}</p> -->
                    <p class="font-semibold text-lg">{{user.first_name}} {{user.last_name}} </p>
                    <p class="text-sm font-light">View profile</p>
                </a>
            </div>
            {% else %}
            <div class="p-2 mx-auto  h-28 border-black rounded-md border-[1px]">
                <p>This is my blog website includes</p>
            </div>
            {% endif %}
        </div>
        <div class="flex flex-col space-y-2 px-6">
            {% if user.is_authenticated %}
            <a href="/create-post/"
                class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Write
                blog</a>
            <a href="/logout-user"
                class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Logout</a>
            {% else %}
            <a href="/sign-up"
                class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Create
                account</a>
            <a role="button" onclick="showLogin()"
                class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Login</a>
            {% endif %}
        </div>
        <hr class="bg-black my-3">

        <div class="flex flex-col mt-4">

            <a href="/" class="">
                <div class="p-1 hover:bg-blue-100   text-lg font-normal rounded-sm flex items-center"><span
                        class="text-gray-700 mr-4"><i class="fa-solid fa-house fa-sm"></i></span> Home</div>
            </a>
            <a href="/post-blogs" class="">
                <div class="p-1 hover:bg-blue-100 text-lg font-normal  rounded-sm flex items-center"><span
                        class="text-gray-700 mr-4"><i class="fa-solid fa-book"></i></span> All Posts</div>
            </a>

            <div id="cat_link" class="p-1 hover:bg-blue-100 text-lg font-normal  rounded-sm" onclick="showhidecat()">
                <span class="text-gray-700 mr-3"><i class="fa-solid fa-folder fa-sm"></i></span>
                Post Category
            </div>
            <div id="categories" class=" absolute top-[433px] mx-auto w-fit bg-gray-300 rounded text-black p-2 hidden">
                <ul class="h-44 overflow-y-scroll px-6 " onmouseleave="hidecatDiv()">
                    {% for cat in ForAllCategories %}
                    <li class="p-1 active:bg-gray-200"><a href="{% url 'App:Blogs-By-Cat' cat.name %}"
                            class="text-[17px]  active:text-black active:font-semibold">{{cat.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <a href="#" class="">
                <div class="p-1 hover:bg-blue-100  text-lg font-normal rounded-sm flex items-center"><span
                        class="text-gray-700 mr-4"><i class="fa-solid fa-circle-info"></i></span>About</div>
            </a>

        </div>
    </div>

    <!-- Login modal -->
    <div id='login_modal' class="login-container hidden">
        <div
            class="  lg:h-1/2   p-4 bg-gray-200 mx-auto rounded-lg shadow-sm shadow-white w-[90%] sm:[60%] md:w-[40%] xl:w-[25%] fixed top-[40%] left-1/2  -translate-x-1/2 -translate-y-1/2 transform ">
            <div class="float-right">
                <span onclick="closeLoginModal()"
                    class="text-gray-800 hover:bg-slate-300  transform -translate-y-3 px-1 translate-x-3 close float-end  text-3xl   text-semibold cursor-pointer">&times;</span>
            </div>
            <div class="mt-4 clear-right">
                <p class="text-lg font-semibold text-center">Login here</p>
            </div>
            <form action="/login-user/" class="w-full p-4 space-y-2" method="post">
                {% csrf_token %}
                <div class="flex-col flex space-y-1">
                    <label for="username" class="text-[17px] ">Username</label>
                    <input name="username" id="username" type="text"
                        class="focus:bg-gray-50 text-[17px] rounded p-2 border-[1px] border-black focus:outline  focus:outline-1 focus:outline-gray-700"
                        required>
                </div>
                <div class="flex-col flex space-y-1">
                    <label for="password" class="text-[17px] ">Password</label>
                    <input name="password" id="password" type="password"
                        class="focus:bg-gray-50 text-[17px] rounded p-2 border-[1px] border-black focus:outline  focus:outline-1 focus:outline-gray-700"
                        required>
                </div>
                <div class="btn flex  justify-center pt-2">
                    <button type="submit"
                        class="text-[16px] p-2 px-6 font-semibold rounded-md hover:bg-blue-800 bg-blue-600 text-gray-100 ">Login</button>
                </div>
                <p class="p-2 text-center">If not registered ? <a href="/sign-up" class="text-blue-600">Create
                        account</a></p>

                <div class="#">

                </div>
            </form>
        </div>
    </div>

    <div class="main-container lg:flex w-full h-full ">
        <!-- navigation for larger screen -->
        <div class="z-0 side-navigation-bar lg:fixed top-14  hidden lg:block w-[18%]  h-full ">
            <div id="navigation_bar" class=" bg-gray-200 px-2  z-30 w-auto h-full scroll-auto ">
                <div class=" flex justify-between items-center px-4 py-2">
                    <p class="font-bold text-lg text-black p-2">BlogBlend</p>
                </div>
                <div class=" mb-6 px-4 py-2">
                    {% if user.is_authenticated %}
                    <div class="p-2 mx-auto flex flex-col justify-start space-y-1">
                        <div class="w-16 h-16 outline outline-white rounded-full overflow-hidden">
                            <img src="/media/{{User.profileImg}}" class="" alt="">
                        </div>
                        <a href="/profile" class="">
                            <!-- <p class="font-semibold text-lg">{{user.first_name}} {{user.last_name}}</p> -->
                            <p class="font-semibold text-lg">{{user.first_name}} {{user.last_name}} </p>
                            <p class="text-sm">View profile</p>
                        </a>
                    </div>
                    {% else %}
                    <div class="p-2 mx-auto  h-28 border-black rounded-sm border-[1px]">
                        <p>This is my blog website includes</p>
                    </div>
                    {% endif %}
                </div>
                <div class="flex flex-col space-y-2 px-4">
                    {% if user.is_authenticated %}
                    <a href="/create-post/"
                        class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Write
                        blog</a>
                    <a href="/logout-user"
                        class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Logout</a>
                    {% else %}
                    <a href="/sign-up"
                        class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Create
                        account</a>
                    <a role="button" onclick="showLogin()"
                        class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Login</a>
                    {% endif %}
                </div>
                <hr class="my-3 border-t-[1px] border-gray-800 ">
                <div class="flex flex-col mt-4">

                    <a href="/" class="">
                        <div class="p-1 hover:bg-blue-100   text-lg font-normal rounded-sm flex items-center"><span
                                class="text-gray-700 mr-4"><i class="fa-solid fa-house fa-sm"></i></span> Home</div>
                    </a>
                    <a href="/post-blogs" class="">
                        <div class="p-1 hover:bg-blue-100 text-lg font-normal  rounded-sm flex items-center"><span
                                class="text-gray-700 mr-4"><i class="fa-solid fa-book"></i></span> All Posts</div>
                    </a>
                    <a href="#" class="">
                        <div class="p-1 hover:bg-blue-100  text-lg font-normal rounded-sm flex items-center"><span
                                class="text-gray-700 mr-4"><i class="fa-solid fa-circle-info"></i></span>About</div>
                    </a>

                </div>
            </div>
        </div>
        <div class="base-body lg:w-[60%] lg:ml-[18%]">
            {% block body %}
            {% endblock body %}
        </div>
    </div>
    {% block js %}
    {% endblock js %}
    <script src="{% static 'Js/base.js' %}"></script>
</body>

</html>