{% load static %}
{% load humanize %}
{% load extraFilter %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <title> {% block title %}{% endblock title %}</title> {% endcomment %}
    <title> BlogBlend </title>
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="https://kit.fontawesome.com/72038e3a92.js" crossorigin="anonymous"></script>


    {% block css %}
    {% endblock css %}

</head>

<body class="">

    <header>
        <nav id="nav_tag"
            class="lg:px-36 bg-white text-white py-3 px-2 outline outline-1 outline-gray-400 flex justify-between items-center fixed  top-0 w-full z-20">
            <a href="/" class="">
                <div class="">
                    <p class=" text-2xl font-bold text-black">BlogBlend</p>
                </div>
            </a>
            <div class="flex items-center space-x-1">
                <a role="button" class="search p-1  rounded-sm" onclick="searchBar_Show()">
                    <span class="text-black p-1 hover:text-gray-600 cursor-pointer"><i
                            class="fa-solid fa-magnifying-glass fa-xl"></i></span>
                </a>
                <div class="">
                    {% if user.is_authenticated %}
                    <a id="Create_postBtn"
                        class="text-gray-800  font-medium hover:bg-gray-800 hover:text-white hover:border-white border-gray-700 border-[1px] rounded-md p-2"
                        href="{% url 'App:Create Post' %}" role="button">Create post</a>
                    {% else %}
                    <a id="signupBtn"
                        class="text-gray-800 font-medium hover:bg-gray-800 hover:text-white active:disabled: border-gray-700 border-[1px] rounded-md p-2"
                        href="/sign-up">Create account</a>
                    {% endif %}
                </div>
                <div id="hamburger"
                    class="lg:hidden hamburger flex-col flex space-y-1 p-2 hover:bg-gray-200  rounded-md">
                    <div class="h-0.5 w-[18px]  bg-black"></div>
                    <div class="h-0.5 w-[18px]  bg-black"></div>
                    <div class="h-0.5 w-[18px]  bg-black"></div>
                </div>
            </div>
        </nav>
        <div class="empty-box w-full h-14"></div>
    </header>
    <span id="close_modals" class="w-full h-[100%] z-20 fixed top-0 bg-black opacity-30 hidden"></span>

    {% for Message in messages %}
    <div id="alert" class="p-1 w-full lg:w-1/2 fixed left-1/2 -translate-x-1/2 top-15 z-30">
       <div class="w-full rounded-lg lg:text-lg font-medium {% if Message.tags == 'success' %} bg-green-400 {% else %}bg-red-500 {% endif %}flex items-center opacity-90 border"><p class="p-2 flex-grow">{{Message}}</p><span class="cursor-pointer font-medium text-xl px-2 py-1  rounded hover:bg-white" id="dismiss_alert">&times;</span></div>
    </div>
    {% endfor %}


    <!-- popover saved post -->
    <span
        class="p-2  fixed top-5 px-4 left-1/2  transform duration-700 text-lg -translate-y-full -translate-x-1/2 w-fit text-center text-white font-semibold rounded  bg-black ease-in-out"
        id="popover">
        Post saved
    </span>

    <!-- navigation bar  -->
    <div id="navigation_bar"
        class="lg:hidden transform translate-x-full  duration-200 fixed right-0 top-0 bg-gray-100 px-2  z-20 w-[72%] sm:w-1/2  h-full scroll-auto ">
        <div class=" flex justify-between items-center px-1 py-2">
            <span class="">
                <p class="font-semibold text-lg text-black ml-3 items-center">BlogBlend</p>
            </span>
            <span id="navigation_close" onclick="hide_navigation()"
                class="text-2xl font-semibold active:text-gray-500 active:bg-white cursor-pointer rounded-sm ">&times;</span>
        </div>
        <div class=" w-full mb-6 p-2">
            {% if user.is_authenticated %}
            <div class="p-2  mx-auto flex flex-col  items-center space-y-1">
                <div class="w-20 h-20 outline outline-white rounded-full overflow-hidden">
                    <img src="/media/{{User.profileImg}}" class="" alt="">
                </div>
                <a href="{%url 'App:Profile' user.username %}" class="flex flex-col items-center">
                    <!-- <p class="font-semibold text-lg">{{user.first_name}} {{user.last_name}}</p> -->
                    <p class="font-semibold text-lg">{{user.first_name}} {{user.last_name}} </p>
                    <p class="text-sm font-light">View profile</p>
                </a>
            </div>
            {% else %}
            <div class="p-2 mx-auto  h-28 border-black rounded-md border-[1px]">
                <p>This is my blog website includes</p>
            </div>
            {% endif %}
        </div>
        <div class="flex flex-col space-y-2 px-6">
            {% if user.is_authenticated %}
            <a href="{% url 'App:Create Post' %}"
                class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Write
                blog</a>
            <a href="/logout-user"
                class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Logout</a>
            {% else %}
            <a href="/sign-up"
                class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Create
                account</a>
            <a role="button" onclick="showLogin()"
                class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Login</a>
            {% endif %}
        </div>
        <hr class="bg-black my-3">

        <div class="flex flex-col mt-4">

            <a href="/" class="">
                <div class="p-1 hover:bg-blue-100   text-lg font-normal rounded-sm flex items-center"><span
                        class="text-gray-700 mr-4"><i class="fa-solid fa-house fa-sm"></i></span> Home</div>
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'App:Reading_list'  %}" class="">
                <div class="p-1 hover:bg-blue-100 text-lg font-normal  rounded-sm flex items-center"><span
                        class="text-gray-700 mr-4"><i class="fa-solid fa-book"></i></span> Library </div>
            </a>
            {% endif %}
            <a href="#" class="">
                <div class="p-1 hover:bg-blue-100  text-lg font-normal rounded-sm flex items-center"><span
                        class="text-gray-700 mr-4"><i class="fa-solid fa-circle-info"></i></span>About</div>
            </a>

        </div>
    </div>

    <!-- Login modal -->
    <div id='login_modal' class="login-container hidden">
        <div
            class="  lg:h-1/2 z-30  p-4 bg-gray-200 mx-auto rounded-lg shadow-sm shadow-white w-[90%] sm:[60%] md:w-[40%] xl:w-[25%] fixed top-[40%] left-1/2  -translate-x-1/2 -translate-y-1/2 transform ">
            <div class="float-right">
                <span onclick="closeLoginModal()"
                    class="text-gray-800 hover:bg-slate-300  transform -translate-y-3 px-1 translate-x-3 close float-end  text-3xl   text-semibold cursor-pointer">&times;</span>
            </div>
            <div class="mt-4 clear-right">
                <p class="text-lg font-semibold text-center">Login here</p>
            </div>
            <form action="{% url 'App:login_user'%}" class="w-full p-4 space-y-2" method="post">
                {% csrf_token %}
                <div class="flex-col flex space-y-1">
                    <label for="username" class="text-[17px] ">Username</label>
                    <input name="username" id="username" type="text"
                        class="focus:bg-gray-50 text-[17px] rounded p-2 border-[1px] border-black focus:outline  focus:outline-1 focus:outline-gray-700"
                        required>
                </div>
                <div class="flex-col flex space-y-1">
                    <label for="password" class="text-[17px] ">Password</label>
                    <input name="password" id="password" type="password"
                        class="focus:bg-gray-50 text-[17px] rounded p-2 border-[1px] border-black focus:outline  focus:outline-1 focus:outline-gray-700"
                        required>
                </div>
                <div class="btn flex  justify-center pt-2">
                    <button type="submit"
                        class="text-[16px] p-2 px-6 font-semibold rounded-md hover:bg-blue-800 bg-blue-600 text-gray-100 ">Login</button>
                </div>
                <p class="p-2 text-center">If not registered ? <a href="/sign-up" class="text-blue-600">Create
                        account</a></p>

                <div class="#">

                </div>
            </form>
        </div>
    </div>

    <div class="main-container ">
        <!-- navigation for larger screen -->
        <div
            class="z-0 side-navigation-bar lg:fixed top-14  bg-gray-100 rounded-lg hidden lg:block xl:w-[25%]   lg:w-[25%] h-full ">
            <div id="navigation_bar" class="  px-3 float-right  xl:w-9/12 lg:w-10/12 h-full scroll-auto rounded-lg">
                <div class=" mb-6 px-4 py-4">
                    {% if user.is_authenticated %}
                    <div class="p-2 mx-auto flex flex-col justify-start space-y-1">
                        <div class="w-16 h-16 outline outline-white rounded-full overflow-hidden">
                            <img src="/media/{{User.profileImg}}" class="" alt="">
                        </div>
                        <a href="{%url 'App:Profile' user.username %}" class="">

                            <p class="font-semibold text-lg">{{user.first_name}} {{user.last_name}} </p>
                            <p class="text-sm">View profile</p>
                        </a>
                    </div>
                    {% else %}
                    <div class="p-2 mx-auto  h-28 border-black rounded-sm border-[1px]">
                        <p>This is my blog website includes</p>
                    </div>
                    {% endif %}
                </div>
                <div class="flex flex-col space-y-2 px-4">
                    {% if user.is_authenticated %}
                    <a href="{% url 'App:Create Post'%}"
                        class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Write
                        blog</a>
                    <a href="/logout-user"
                        class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Logout</a>
                    {% else %}
                    <a href="/sign-up"
                        class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Create
                        account</a>
                    <a role="button" onclick="showLogin()"
                        class="px-2 p-1 text-center hover:bg-gray-800 hover:text-white border-[1px] border-gray-900 rounded-md">Login</a>
                    {% endif %}
                </div>
                <hr class="my-3 border-t-[1px] border-gray-400 ">
                <div class="flex flex-col mt-4 navigation">

                    <a href="/" class="">
                        <div class="px-2 py-1 hover:bg-white   text-lg font-normal rounded-md flex items-center"><span
                                class="text-gray-700 mr-4"><i class="fa-solid fa-house fa-sm"></i></span> Home</div>
                    </a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'App:Reading_list'  %}" class="">
                        <div class="px-2 py-1 hover:bg-white text-lg font-normal  rounded-md flex items-center"><span
                                class="text-gray-700 mr-4"><i class="fa-solid fa-book"></i></span> Library </div>
                    </a>
                    {% endif %}
                    <a href="#" class="">
                        <div class="px-2 py-1 hover:bg-white  text-lg font-normal rounded-md flex items-center"><span
                                class="text-gray-700 mr-4"><i class="fa-solid fa-circle-info"></i></span>About</div>
                    </a>
                </div>
            </div>
        </div>

        <!-- searchbar -->
        <div id="searchBar"
            class="z-10 searchBar fixed lg:w-[50%] md:w-[80%] rounded-b-lg left-1/2 top-14 -translate-x-1/2 w-full  bg-white   p-2 hidden  ">
            <form action="{% url 'App:Search Posts' %}" method="get" class="space-x-2 flex px-1">
                <input type="text" name="q" id="q"
                    class="w-full p-[7px]  bg-gray-50  outline outline-1 focus:outline-2 outline-gray-500 shadow-md   focus:outline-gray-800  rounded"
                    placeholder="Search..." required>
                <button type="submit"
                    class="hover:bg-gray-800 hover:text-white shadow-sm bg-white text-black rounded text-sm p-[7px] border-[1px] border-gray-500">Search</button>
            </form>
        </div>
        <!-- main body -->
        <div class="base-body lg:w-[50%] md:w-[80%] sm:w-[95%] w-full   mx-auto ">
            {% block body %}
            {% endblock body %}
        </div>

        <!-- left side content -->
        <div class="hidden lg:block fixed w-[25%] right-0 h-full ">
            {% block rightcontent %}
            {% endblock rightcontent %}
        </div>
    </div>
    {% block js %}
    {% endblock js %}
    <script src="{% static 'Js/base.js' %}"></script>
    <script>

        // for saving post in request.session
        function SavePost(element) {
            {% if user.is_authenticated %}
            let post_id = element.id.slice(9);
            $.ajax({
                type: "Post",
                url: "{% url 'App:Save Post' %}",
                data: { 'Post_id': post_id },
                dataType: "json",
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                //here  data is response return by server 
                success: function (data) {
                    if (data.Result == 'Post_saved') {

                        // document.getElementById(element.id).innerHTML = '<i class="fa-solid fa-bookmark fa-lg"></i>';
                        let icon = document.getElementById('saveIcon' + post_id);
                        icon.classList.remove('fa-regular');
                        icon.classList.add('fa-solid');
                        document.getElementById(element.id).innerHTML = icon.outerHTML;
                        showSavePostModel('Saved');
                    }
                    else if (data.Result == 'Post_unsaved') {
                        // document.getElementById(element.id).innerHTML = '<i class="fa-regular fa-bookmark fa-lg"></i>';
                        let icon = document.getElementById('saveIcon' + post_id);
                        icon.classList.remove('fa-solid');
                        icon.classList.add('fa-regular');
                        document.getElementById(element.id).innerHTML = icon.outerHTML;
                        showSavePostModel('Unsaved');
                        if (document.getElementById('SavedPost' + post_id)) {
                            document.getElementById('SavedPost' + post_id).outerHTML = "";
                        }
                    }
                },
                //here error is error return by the url 
                error: function (error) {
                    console.log("Error:", error);
                }
            });
            {% else %}
            showLogin();
            {% endif %}
        }


        function showSavePostModel(text) {  //popover
            let box_post = document.getElementById('popover');
            if (text === 'Saved') {
                box_post.innerText = 'Saved a new post';
            }
            else {
                box_post.innerText = 'Unsaved post ';
            }

            // Toggle classes after a delay
            setTimeout(() => {
                box_post.classList.toggle('translate-y-full');
            }, 1000);
            // Immediate toggle
            box_post.classList.toggle('translate-y-full');
        }

        // for like a post
        ChangePostLikes = (post_id) => {
            {% if user.is_authenticated %}
            console.log('Send request');            
            $.ajax({
                type: "post",
                url: "{% url 'App:Profile' user.username %}",
                data: JSON.stringify({ 'post_id': post_id }),
                dataType: "json",
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                //here  data is response return by server 
                success: function (response) {
                    likedPostElement=document.getElementById('post_like_icon' + post_id);
                    console.log('Success response');
                    if (response.status == 'liked') {
                        if(likedPostElement.classList.contains('fa-regular')){
                            likedPostElement.classList.replace('fa-regular', 'fa-solid');
                        }
                    }
                    else if (response.status == "unliked") {
                        if(likedPostElement.classList.contains('fa-solid')){
                            likedPostElement.classList.replace('fa-solid', 'fa-regular');
                        }
                    }
                    document.getElementById('postlike_count' + post_id).innerText = response.likeCount;

                },
                //here error is error return by the url 
                error: function (error) {
                    console.log("Error:", error);
                }
            });
            {% else %}
            showLogin();
            {% endif %}
        }


        //change follower
        function SenAjaxchangeFollower(element) {
            let author_id = element.id.slice(6);
            console.log(author_id);
            followCount = document.getElementById('follow_count');
            $.ajax({
                type: "Patch",
                url: "{% url 'App:Follow Author' %}",
                data: JSON.stringify({ "author_id": author_id }),
                dataType: "json",
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                //here  data is response return by server 
                success: function (data) {
                    element.innerText = data.btnText;
                    if (document.getElementById('follower_count')) {
                        document.getElementById('follower_count').innerText = data.follower_count;
                    }
                    if (element.classList.contains('bg-white')) {
                        element.classList.remove('bg-white');
                        element.classList.add('bg-blue-950');
                        element.classList.toggle('text-white');
                    }
                    else if (element.classList.contains('bg-blue-950')) {
                        element.classList.remove('bg-blue-950');
                        element.classList.add('bg-white');
                        element.classList.toggle('text-white');
                    }
                },
                //here error is error return by the url 
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        }

        function ChangeFollowers(followBtn) {
            {% if user.is_authenticated %}
            SenAjaxchangeFollower(followBtn);
            {% else %}
            showLogin();
            {% endif %}
        }
    </script>
</body>

</html>